// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#google {
  position: absolute;
  top: 0;
  right: 0;
}