// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#google {
  position: absolute;
  margin: 0 auto;
  left: 40px;
  top: 25px;
  
  @media only screen and (max-width: 1900px) {
    position: relative;
    top: 115px;
    left: 25px;
  }

}

#google > .img-circle {
  border-radius: 50%;
  position: relative;
  top: 15px;
  right: 10px;
}

sign_in {
  position: relative;
  left: 25px;
}