// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    background-color:#77c298;
}

html,body{
    height: 100%;
}

body {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    border:3px solid #6bbdae;
    background-color: #ffffff;
    box-shadow: 10px 10px grey;
    text-align: center;  
}

div#gameDiv{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px grey;
}